
 
  .bodydiv {
    width:100vw;
    height:100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .app {
    background-color: #252d4a;
    width: 80vh;
    min-height: 200px;
    height: 40vh;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    color:#ffffff
  }
  
  .scoresection {
    display: flex;
    font-size: 32px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .questionsection {
    width: 100%;
    position: relative;
  }
  
  .questioncount {
    margin-bottom: 20px;
  }
  
  .questioncount span {
    font-size: 28px;
  }
  
  .questiontext {
    margin-bottom: 12px;
    font-size: 32px;
  }
  
  .timertext {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answersection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .optionbutton {
    width: 100%;
    font-size: 32px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #ffffff;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .optionbutton:hover {
    background-color: #555e7d;
  }
  
  .optionbutton:focus {
    outline: none;
  }
  
  .optionbutton svg {
    margin-right: 5px;
  }